<div class="container">
    <div class="row">
        <div class="col-lg">

            <form (ngSubmit)="updateProduct(updateproductform)"#updateproductform="ngForm" action="">
                <div id="edit" class="container w-50 border mt-2 p-3 mb-2">
                    <h3 class="text-center fw-semibold text-light">Update Product</h3>
                    <div>
                        <input [(ngModel)]="productdata.id" id="pid" name="p1" class="form-control text-center mt-2" type="text"
                            placeholder="Product Id">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.productName" id="pname" name="p2" class="form-control text-center mt-2"
                            type="text" placeholder="Product Name">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.categoryId" id="cid" name="p3" class="form-control text-center mt-2"
                            type="text" placeholder="Category Id">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.description" id="did" name="p4" class="form-control text-center mt-2"
                            type="text" placeholder="Description">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.isAvailable" id="avid" name="p5" class="form-control text-center mt-2"
                            type="text" placeholder="Is Available true/false">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.productImage" id="imid" name="p6" class="form-control text-center mt-2"
                            type="text" placeholder="product Image">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.rating" id="ratid" name="p7" class="form-control text-center mt-2"
                            type="text" placeholder="Product rating">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.review" id="reid" name="p8" class="form-control text-center mt-2"
                            type="text" placeholder="Product Review">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.warrenty" id="wrid" name="p9" class="form-control text-center mt-2"
                            type="text" placeholder="Warrenty">
                    </div>

                    <div>
                        <input [(ngModel)]="productdata.price" id="prid" name="p10" class="form-control text-center mt-2"
                            type="text" placeholder="Price">
                    </div>


                    <div class="text-center mt-3 ">
                        <button name="submit" type="submit" class="btn btn-outline-primary mt-2 fw-bold">Update
                            Product</button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>